.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-m-compact);
}

.image {
  width: 64px;
  height: 64px;
  background: var(--color-black-50);
  border-radius: var(--border-radius-m);
}

.textBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2-xs);
}
