.cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-m);
  padding: 0 var(--space-m);
  background: var(--color-white-1000);
  box-sizing: border-box;

  &:first-child {
    border-top-left-radius: var(--border-radius-s);
    border-top-right-radius: var(--border-radius-s);
  }

  &:last-child {
    border-bottom-left-radius: var(--border-radius-s);
    border-bottom-right-radius: var(--border-radius-s);
  }

  &.interactive {
    cursor: pointer;

    &:hover {
      background: var(--color-black-50);
    }
  }
}

.middle {
  display: flex;
  flex-direction: column;
  gap: var(--space-2-xs-compact);
  flex-grow: 1;
  padding: var(--space-s) 0;
}

.before {
  display: flex;
  align-items: center;
  justify-content: center;
}

.after {
  display: flex;
  align-items: center;
  justify-content: center;
}
