.button {
  /* Border */
  border-style: solid;
  --button-border-radius: 0;
  border-radius: var(--button-border-radius);
  --button-border-width: var(--border-width-s);
  border-width: var(--button-border-width);
  --button-border-color: 0;
  border-color: var(--button-border-color);
  --button-border-color-disabled: 0;
  &.disabled {
    border-color: var(--button-border-color-disabled);
  }
  --button-border-color-loading: 0;
  &.loading {
    border-color: var(--button-border-color-loading);
  }

  /* Space */
  --button-margin: 0;
  margin: var(--button-margin);
  --button-padding: 0;
  padding: var(--button-padding);
  --button-padding-only-icon: 0;
  &.onlyIcon {
    padding: var(--button-padding-only-icon);
  }

  /* Text */
  --button-font-size: 0;
  font-size: var(--button-font-size);
  --button-line-height: 0;
  line-height: var(--button-line-height);
  --button-text-color: 0;
  color: var(--button-text-color);
  --button-text-color-disabled: 0;
  &.disabled {
    color: var(--button-text-color-disabled);
  }
  --button-text-color-loading: 0;
  &.loading {
    color: var(--button-text-color-loading);
  }

  /* Background */
  --button-background: 0;
  background: var(--button-background);
  --button-background-loading-1: 0;
  --button-background-loading-2: 0;
  &.loading {
    background: var(--button-background-loading-1);

    &::before {
      background: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 10px,
        var(--button-background-loading-2) 10px,
        var(--button-background-loading-2) 20px
      );
    }
  }
  --button-background-disabled: 0;
  &.disabled {
    background: var(--button-background-disabled);
  }
  --button-background-hover: 0;
  &:hover:not(:disabled):not(:active) {
    background: var(--button-background-hover);
  }
  --button-background-active: 0;
  &:active {
    background: var(--button-background-active);
  }

  /* Other */
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: var(--space-2-xs);
  align-items: center;
  justify-content: center;

  & .buttonContent {
    font-size: var(--button-font-size);
    line-height: var(--button-line-height);
  }

  &:active {
    transform: scale(0.96);
  }

  &.disabled {
    cursor: default;
    pointer-events: none;
  }

  &.loading {
    position: relative;
    overflow: hidden;
    cursor: wait;
    pointer-events: none;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 150%;
      height: 100%;
      animation: loading 0.75s infinite linear;
    }
  }
}

.size_xs {
  --button-border-radius: var(--border-radius-xs);
  --button-padding: var(--space-2-xs-compact) var(--space-xs);
  --button-font-size: var(--typography-font-size-s);
  --button-line-height: var(--typography-line-height-s);
  --button-padding-only-icon: var(--space-2-xs-compact) var(--space-2-xs-compact);
}

.size_s {
  --button-border-radius: var(--border-radius-s-compact);
  --button-padding: var(--space-xs-compact) var(--space-s);
  --button-font-size: var(--typography-font-size-s);
  --button-line-height: var(--typography-line-height-s);
  --button-padding-only-icon: var(--space-xs-compact) var(--space-xs-compact);
}

.size_m {
  --button-border-radius: var(--border-radius-s);
  --button-padding: var(--space-xs) var(--space-m);
  --button-font-size: var(--typography-font-size-s);
  --button-line-height: var(--typography-line-height-s);
  --button-padding-only-icon: var(--space-xs) var(--space-xs);
}

.size_l {
  --button-border-radius: var(--border-radius-m-compact);
  --button-padding: var(--space-s) var(--space-l);
  --button-font-size: var(--typography-font-size-m);
  --button-line-height: var(--typography-line-height-m);
  --button-padding-only-icon: var(--space-s) var(--space-s);
}

.variant_primary {
  --button-background: var(--color-blue-500);
  --button-text-color: var(--color-white-900);
  --button-background-hover: var(--color-blue-400);
  --button-background-active: var(--color-blue-400);
  --button-background-disabled: var(--color-blue-300);
  --button-text-color-disabled: var(--color-white-900);
  --button-background-loading-1: var(--color-blue-300);
  --button-background-loading-2: var(--color-white-100);
  --button-text-color-loading: var(--color-white-900);
  --button-border-color: transparent;
  --button-border-color-disabled: transparent;
  --button-border-color-loading: transparent;
}

.variant_secondary {
  --button-background: var(--color-black-50);
  --button-text-color: var(--color-black-900);
  --button-border-color: transparent;
  --button-background-hover: var(--color-black-150);
  --button-background-active: var(--color-black-150);
  --button-background-disabled: var(--color-black-50);
  --button-text-color-disabled: var(--color-black-300);
  --button-text-color-loading: var(--color-black-300);
  --button-background-loading-1: var(--color-black-50);
  --button-background-loading-2: var(--color-black-50);
  --button-border-color: transparent;
  --button-border-color-disabled: transparent;
  --button-border-color-loading: transparent;
}

.variant_outline {
  --button-background: var(--color-white-1000);
  --button-text-color: var(--color-black-900);
  --button-background-hover: var(--color-black-50);
  --button-background-active: var(--color-black-50);
  --button-background-disabled: var(--color-white-1000);
  --button-text-color-disabled: var(--color-black-300);
  --button-background-loading-1: var(--color-black-800);
  --button-background-loading-2: var(--color-white-50);
  --button-text-color-loading: var(--color-black-900);
  --button-background-loading-1: var(--color-white-1000);
  --button-background-loading-2: var(--color-black-50);
  --button-text-color-loading: var(--color-black-300);
  --button-border-color: var(--color-black-150);
  --button-border-color-disabled: var(--color-black-100);
  --button-border-color-loading: var(--color-black-100);
}

.variant_ghost {
  --button-background: transparent;
  --button-text-color: var(--color-black-900);
  --button-border-color: transparent;
  --button-background-hover: var(--color-black-50);
  --button-background-active: var(--color-black-50);
  --button-background-disabled: transparent;
  --button-text-color-disabled: var(--color-black-300);
  --button-background-loading-1: var(--color-white-1000);
  --button-background-loading-2: var(--color-black-50);
  --button-text-color-loading: var(--color-black-300);
  --button-border-color: transparent;
  --button-border-color-disabled: transparent;
  --button-border-color-loading: transparent;
}

@keyframes loading {
  0% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0);
  }
}
