.list {
  background: var(--color-white-1000);
  border-radius: var(--border-radius-m);
}

.item {
  &:not(:last-child) {
    border-bottom: 1px solid var(--color-black-50);
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-s-compact);

  box-sizing: border-box;
  padding: var(--space-s) var(--space-m-compact);
}

.content {
  display: flex;
  align-items: flex-start;
  gap: var(--space-s-compact);
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--space-2-xs);
}

.image {
  border-radius: var(--border-radius-xs);
  background: var(--color-black-50);
  width: 40px;
  height: 40px;
}
