:root {
  /* Base */
  --color-black-0: rgba(0, 0, 0, 0);
  --color-black-50: rgba(0, 0, 0, 0.05);
  --color-black-100: rgba(0, 0, 0, 0.1);
  --color-black-150: rgba(0, 0, 0, 0.15);
  --color-black-200: rgba(0, 0, 0, 0.2);
  --color-black-250: rgba(0, 0, 0, 0.25);
  --color-black-300: rgba(0, 0, 0, 0.3);
  --color-black-400: rgba(0, 0, 0, 0.4);
  --color-black-500: rgba(0, 0, 0, 0.5);
  --color-black-600: rgba(0, 0, 0, 0.6);
  --color-black-700: rgba(0, 0, 0, 0.7);
  --color-black-800: rgba(0, 0, 0, 0.8);
  --color-black-900: rgba(0, 0, 0, 0.9);
  --color-black-1000: rgba(0, 0, 0, 1);
  --color-white-0: rgba(255, 255, 255, 0);
  --color-white-50: rgba(255, 255, 255, 0.05);
  --color-white-100: rgba(255, 255, 255, 0.1);
  --color-white-150: rgba(255, 255, 255, 0.15);
  --color-white-200: rgba(255, 255, 255, 0.2);
  --color-white-250: rgba(255, 255, 255, 0.25);
  --color-white-300: rgba(255, 255, 255, 0.3);
  --color-white-400: rgba(255, 255, 255, 0.4);
  --color-white-500: rgba(255, 255, 255, 0.5);
  --color-white-600: rgba(255, 255, 255, 0.6);
  --color-white-700: rgba(255, 255, 255, 0.7);
  --color-white-800: rgba(255, 255, 255, 0.8);
  --color-white-900: rgba(255, 255, 255, 0.9);
  --color-white-1000: rgba(255, 255, 255, 1);
  --color-red-100: #fdeded;
  --color-red-200: #fbdada;
  --color-red-300: #f7b5b5;
  --color-red-400: #f39191;
  --color-red-500: #eb4747;
  --color-red-600: #9d3b3b;
  --color-red-700: #773535;
  --color-red-800: #502f2f;
  --color-red-900: #3c2c2c;
  --color-green-100: #e9f5f1;
  --color-green-200: #d4ece4;
  --color-green-300: #a9d9c9;
  --color-green-400: #7ec6ae;
  --color-green-500: #289f77;
  --color-green-600: #287058;
  --color-green-700: #295848;
  --color-green-800: #294139;
  --color-green-900: #293531;
  --color-blue-100: #eaf3fd;
  --color-blue-200: #d5e8fa;
  --color-blue-300: #abd0f6;
  --color-blue-400: #80b9f1;
  --color-blue-500: #2c8ae7;
  --color-blue-600: #2b639b;
  --color-blue-700: #2a5075;
  --color-blue-800: #2a3c4f;
  --color-blue-900: #29333c;
  --color-orange-100: #fdf1eb;
  --color-orange-200: #fbe3d8;
  --color-orange-300: #f6c7b0;
  --color-orange-400: #f2ac89;
  --color-orange-500: #e9743a;
  --color-orange-600: #9c5633;
  --color-orange-700: #764730;
  --color-orange-800: #4f382c;
  --color-orange-900: #3c312b;
  --color-purple-100: #f3eefd;
  --color-purple-200: #e8defb;
  --color-purple-300: #d0bdf8;
  --color-purple-400: #b99cf4;
  --color-purple-500: #8b5aed;
  --color-purple-600: #64469e;
  --color-purple-700: #503c77;
  --color-purple-800: #3d3350;
  --color-purple-900: #332e3d;
}
