:root {
  /* Space */
  --space-base: 8px;
  --space-2-xs-compact: calc(var(--space-base) * 0.25);
  --space-2-xs: calc(var(--space-base) * 0.5);
  --space-xs-compact: calc(var(--space-base) * 0.75);
  --space-xs: calc(var(--space-base) * 1);
  --space-s-compact: calc(var(--space-base) * 1.25);
  --space-s: calc(var(--space-base) * 1.5);
  --space-m-compact: calc(var(--space-base) * 1.75);
  --space-m: calc(var(--space-base) * 2);
  --space-l: calc(var(--space-base) * 2.5);
  --space-xl: calc(var(--space-base) * 3);
  --space-2-xl: calc(var(--space-base) * 4);
  --space-3-xl: calc(var(--space-base) * 5);
  --space-4-xl: calc(var(--space-base) * 6);

  /* Border Radius */
  --border-radius-base: 8px;
  --border-radius-2-xs: calc(var(--border-radius-base) * 0.5);
  --border-radius-xs-compact: calc(var(--border-radius-base) * 0.75);
  --border-radius-xs: calc(var(--border-radius-base) * 1);
  --border-radius-s-compact: calc(var(--border-radius-base) * 1.25);
  --border-radius-s: calc(var(--border-radius-base) * 1.5);
  --border-radius-m-compact: calc(var(--border-radius-base) * 1.75);
  --border-radius-m: calc(var(--border-radius-base) * 2);
  --border-radius-l: calc(var(--border-radius-base) * 2.5);
  --border-radius-xl: calc(var(--border-radius-base) * 3);
  --border-radius-2-xl: calc(var(--border-radius-base) * 4);
  --border-radius-round: 100px;

  /* Border Width */
  --border-width-s: 1px;
  --border-width-m: 2px;
  --border-width-l: 4px;
}
