:root {
  /* Space */
  --space-base: 8px;
  --space-2-xs-compact: calc(var(--space-base) * 0.25);
  --space-2-xs: calc(var(--space-base) * 0.5);
  --space-xs-compact: calc(var(--space-base) * 0.75);
  --space-xs: calc(var(--space-base) * 1);
  --space-s-compact: calc(var(--space-base) * 1.25);
  --space-s: calc(var(--space-base) * 1.5);
  --space-m-compact: calc(var(--space-base) * 1.75);
  --space-m: calc(var(--space-base) * 2);
  --space-l: calc(var(--space-base) * 2.5);
  --space-xl: calc(var(--space-base) * 3);
  --space-2-xl: calc(var(--space-base) * 4);
  --space-3-xl: calc(var(--space-base) * 5);
  --space-4-xl: calc(var(--space-base) * 6);

  /* Border Radius */
  --border-radius-base: 8px;
  --border-radius-2-xs: calc(var(--border-radius-base) * 0.5);
  --border-radius-xs-compact: calc(var(--border-radius-base) * 0.75);
  --border-radius-xs: calc(var(--border-radius-base) * 1);
  --border-radius-s-compact: calc(var(--border-radius-base) * 1.25);
  --border-radius-s: calc(var(--border-radius-base) * 1.5);
  --border-radius-m-compact: calc(var(--border-radius-base) * 1.75);
  --border-radius-m: calc(var(--border-radius-base) * 2);
  --border-radius-l: calc(var(--border-radius-base) * 2.5);
  --border-radius-xl: calc(var(--border-radius-base) * 3);
  --border-radius-2-xl: calc(var(--border-radius-base) * 4);
  --border-radius-round: 100px;

  /* Border Width */
  --border-width-s: 1px;
  --border-width-m: 2px;
  --border-width-l: 4px;

  /* Text */
  --typography-font-size-2-xs: 11px;
  --typography-font-size-xs: 12px;
  --typography-font-size-s: 14px;
  --typography-font-size-m: 16px;
  --typography-font-size-l: 18px;
  --typography-font-size-xl: 20px;
  --typography-font-size-2-xl: 24px;
  --typography-font-size-3-xl: 28px;
  --typography-font-size-4-xl: 32px;
  --typography-font-size-5-xl: 48px;
  --typography-font-size-6-xl: 64px;
  --typography-line-height-2-xs: 12px;
  --typography-line-height-xs: 16px;
  --typography-line-height-s: 20px;
  --typography-line-height-m: 24px;
  --typography-line-height-l: 28px;
  --typography-line-height-xl: 32px;
  --typography-line-height-2-xl: 40px;
  --typography-line-height-3-xl: 56px;
  --typography-line-height-4-xl: 72px;
}
